.listHeading{
    position: relative;
    bottom:0.3em;
    padding: 0.3em;
    background-color: #bf6bfc;
    border: solid 1px black;
    max-width: 50vw;
    min-width: 30vw;
    margin:auto;
    border-radius: 0 1em 0 0;
    color: whitesmoke;
    font-size: 2em;
}

.listContainer{
    margin:auto;
    position: relative;
    bottom:0.6em;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0.6em;
    background-color: #FBF1D3;
    border: solid 1px black;
    max-width: 50vw;
    min-width: 30vw;
    border-radius: 0 0 0 1.5em;
    min-height: 15vw;
}
